<AuthorizeView>
    <Authorized>
        <MudChip href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</MudChip>
        <form method="post" action="Identity/Account/LogOut">
            <MudChip><button type="submit" class="nav-link btn btn-link">Log out</button></MudChip>

        </form>
    </Authorized>
    <NotAuthorized>
        <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
            <MudButton Variant="Variant.Filled" href="Identity/Account/Register">Register</MudButton>
            <MudButton Variant="Variant.Filled" href="Identity/Account/Login">Log in</MudButton>
        </MudButtonGroup>
    </NotAuthorized>
</AuthorizeView>
