@inherits LayoutComponentBase

<PageTitle>ITS.CPER.InternalWebPage</PageTitle>

<div style="background-color: #03043a; color:#64DD17;">
    <nav Elevation="0" style="background-color: #03043a; color:#64DD17;">
        <div style="display:flex; flex-direction:row; justify-content:flex-start">
            <img style="width: 30%" src="images/logo.png" alt="Earth4Sport" />
        </div>
    </nav>
    @*<MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">ITS.CPER.InternalWebPage</MudText>
        </MudDrawerHeader>
    </MudDrawer>*@
</div>
<div>
    @Body
</div>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
