@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
</style>
<section class="text-center text-lg-start">
    <style>
    .cascading-right {
        margin-right: -50px;
    }
    </style>
    <div class="container py-4" >
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="background: hsla(0, 0%, 100%, 0.55);backdrop-filter: blur(30px);">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Sign in</h2>
                        <hr />
                        <form id="account" method="post">
                            <div class="form-outline mb-4">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="Input.UserName" type="text" id="usernameform" class="form-control" autocomplete="username" aria-required="true" placeholder="Username"/>
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-check d-flex justify-content-center mb-4">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div>
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
                            </div>
                            <div>
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                @*<img src="/images/corsa.jpg" class="w-100 rounded-4 shadow-4" alt="" />*@
                <img src="/images/scarpa.jpg" class="w-100 rounded-4 shadow-4" alt="" style="max-height: 650px" />
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
